<nav class="sidebar">
    <ul class="sidebar__nav menu vertical">
        <li class="sidebar__brand menu-text">Dasher</li>
        <li class="sidebar__link"><a href="#">Location Map</a></li>
        <li class="sidebar__link"><a href="#">Key Metrics</a></li>
        <li class="sidebar__link"><a href="#">Issues</a></li>
    </ul>
</nav>

{{outlet}}