<nav class="sidebar float-left">
    <ul class="sidebar__nav menu vertical">
        <li class="sidebar__brand menu-text">Dasher</li>
        <li class="sidebar__link">
            {{#link-to 'metrics'}}
                Key Metrics
            {{/link-to}}
        </li>
        <li class="sidebar__link">
            {{#link-to 'issues'}}
                Issue Data
            {{/link-to}}
        </li>
        <li class="sidebar__link">
            <a href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<main class="float-right">
    {{outlet}}
</main>
